<div class="row my-3">
    <div class="col-lg-2 col-sm-4 my-2">
      <div class="list-group">
        <a
          [routerLink]="['/servers', server.id]"
          [queryParams]="{allowEdit: '1'}"
          fragment='loading'
          href="#"
          class="list-group-item text-dark"
          *ngFor="let server of servers">
          {{ server.name }}
        </a>
      </div>
    </div>

    <div class="col-lg-2 offset-lg-1 col-sm-6">
      <router-outlet></router-outlet>
      <!-- <button class="btn btn-info" (click)="onReload()" >Reload Page</button>
      <app-server></app-server>
      <hr>
      <app-edit-server></app-edit-server> -->
    </div>
  </div>
  
