<div class="container-fluid">
<div class="row">
    <div class="col-lg-4 offset-lg-4 mt-5">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input 
                    class="form-control" 
                    type="text" 
                    formControlName="username"
                    id="username">
                    <span
                        *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" 
                        class="help-block">
                        <span class="help-block" *ngIf="signupForm.get('username').errors['nameIsForbidden']">This name invalid!</span>
                        <span class="help-block" *ngIf="signupForm.get('username').errors['required']">Username is Required!</span>
                    </span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input 
                    class="form-control" 
                    type="email"
                    id="email"
                    formControlName="email">
                    <span
                        *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" 
                        class="help-block">
                        Please enter a valid email!
                    </span>
            </div>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input 
                        type="radio" 
                        formControlName="gender"
                        [value]="gender">
                        {{ gender }}
                </label>
            </div>
            <div formArrayName="hobbies">
                <h4>Your Hobbies</h4>
                <button 
                    class="btn btn-light" 
                    type="button" 
                    (click)="onAddHobby()">Add Hobby
                </button>
                <div 
                    class="form-group"
                    *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
                    <input type="text" class="form-control" [formControlName]="i">
                </div>

            </div>
            <p *ngIf="!signupForm.valid && signupForm.touched" 
                class="help-block">
                Please enter valid data!
            </p>
            <button 
                type="submit" 
                class="btn btn-success">
                Submit
            </button>
        </form>
    </div>
</div>
</div>